.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.games a {
  cursor: pointer;
  position: relative;
  width: 40%;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.game-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
}

.about-game {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-box:hover .game-img {
  opacity: 0.3;
}

.game-box:hover .about-game {
  opacity: 1;
}

.game-name {
  background-color: #363945;
  color: white;
  font-size: 20px;
  padding: 20px 40px;
}
