.card {
    display: flex;
}

.card__descr {
    width: 100%;
}

.card__header {
    background-color: rgb(204, 218, 243);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.card__header p {
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.card__sound-icon {
    cursor: pointer;
}

.card__mean {
    font-weight: 600;
}

.card__word-hard {
    background-color: red;
}