@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper,
header,
.home,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100%;
  flex-direction: column;
}

header {
  padding: 0 10px;
}

.home-img {
  max-width: 60%;
}

.home .about {
  max-width: 30%;
  text-align: justify;
}
.about h1 {
  color: #2a293e;
}
.about h2 {
  color: #615550;
}

main {
  flex: 1 1 auto;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 95vw;
}

footer img {
  width: 100px;
}

footer a {
  text-decoration: none;
}
